<div class="row justify-content-center">
    <div class="col col-lg-6">
        <form>
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="validationDefault01">Item name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="Item name"  required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault02">Item type</label>
                <input type="number" class="form-control" id="validationDefault02" placeholder="Item type" required>
              </div>
              <div class="col-md-12 mb-3">
                <label for="validationDefault03">Item date</label>
                <input type="date" class="form-control" id="validationDefault03" placeholder="Item date" required>
              </div>
            </div>
        </form>        
    </div>
</div>