<div class="row justify-content-center">
    <div class="col col-lg-6">
        
        <form class="mx-auto">
            
            <!--begin:: Register title-->
            <h4 class="text-center">Register</h4>
            <!--end:: Register title-->
           
            <!--begin::FirstName-->
            <div class="mb-3">
                <label for="first_name" class="form-label">FirstName</label>
                <input [(ngModel)]="userName" type="text" name="userName" class="form-control" id="first_name" required>
                <div class="text-danger error-message" *ngIf="nameError">{{ nameError }}</div>
            </div>
            <!--end::FirstName-->

            <!--begin::LastName-->
            <div class="form-group mb-3">
                <label for="last_name" class="form-label">LastName</label>
                <input [(ngModel)]="userLastName" type="text" name="userLastName" class="form-control" id="last_name" required>
                <div class="text-danger error-message" *ngIf="lastNameError">{{ lastNameError }}</div>
            </div>
            <!--end::LastName-->

            <!--begin::Email-->
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email address</label>
                <input [(ngModel)]="userEmail" type="email" name="userEmail" class="form-control" id="email" required>
                <div class="text-danger error-message" *ngIf="emailError">{{ emailError }}</div>
            </div>
            <!--end::Email-->

            <!--begin::Password-->
            <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input [(ngModel)]="password" type="password" name="password" class="form-control" id="password" required>
                <div class="text-danger error-message" *ngIf="passwordError">{{ passwordError }}</div>
            </div>
            <!--End::Password-->

            <!--begin::Reset Password-->
            <div class="form-group mb-3">
                <label for="password_confirm" class="form-label">Password Confirm</label>
                <input [(ngModel)]="passwordConfirm" type="password" name="passwordConfirm" class="form-control"
                    id="password_confirm" required>
                <div class="text-danger error-message" *ngIf="passwordErrorConfirm">{{ passwordErrorConfirm }}</div>
            </div>
            <!--end::Reset Password-->

            <!--begin::Link Login Page-->
            <div class="mb-3 form-check">
                <label class="form-check-label">If you have already registered <a href=""
                        [routerLink]="['/login']">Login</a>
                </label>
            </div>
            <!--end::Link Login Page-->

            <!--begin::Button Register-->
            <div class="d-grid gap-2 col-6 mx-auto">
                <button (click)="registerUser()" type="submit" class="btn btn-primary">Register</button>
            </div>
            <!--end::Button Register-->

        </form>
    </div>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>