<div class="row justify-content-center">
    <div class="col col-lg-6">
        <form class="mx-auto">
            <h4 class="text-center">Login</h4>
            <div class="mb-3 mt-5">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" />
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Login</button>
              </div>
        </form>
    </div>
</div>