<div class="row justify-content-center">
    <div class="col col-lg-6">
        <form class="mx-auto">
            <h4 class="text-center">Login</h4>
            <div class="mb-3 mt-5">
                <label for="email" class="form-label">Email address</label>
                <input type="email" [(ngModel)]="userEmail" name="userEmail" class="form-control"
                    placeholder="email@gmail.com" id="email" required />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <p>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password"
                        placeholder="Password" required />
                </p>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">You don't have an account
                    <a href="" [routerLink]="['/register']">Register</a>
                </label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto">
                <button (click)="loginUser()" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="loading" class="loading-overlay">
</div>
<div *ngIf="loading" class="spinner-container">
  <div class="spinner-border text-light" role="status">
    <span class="sr-only"></span>
  </div>
</div>