<!--begin:: Main Window-->
<div class="container mt-5">

    <!--begin:: AddModal show Button-->
    <div class=" d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-success me-md-2" (click)="showAddModal()" type="button">Add</button>
    </div>
    <!--end:: AddModal show Button-->
    
    <!--begin:: Items Table-->
    <form class="mt-3 mx-auto justify-content-center">
        <div>
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th class="col-1">#</th>
                        <th class="col-2 col-md-2">Id</th>
                        <th class="col-2 col-md-2">Name</th>
                        <th class="col-2 col-md-2">Date</th>
                        <th class="col-3 col-md-2">Type</th>
                        <th class="col-2 col-md-2">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <!-- Loop through items -->
                    <tr *ngFor="let item of items; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ item.itemId }}</td>
                        <td>{{ item.itemName }}</td>
                        <td>{{ item.itemDate | date:"YYYY-MM-dd hh:mm" }}</td>
                        <td>{{ item.itemType }}</td>
                        <td class="d-flex justify-content-center">
                            <div class="d-grid gap-2 d-md-block">
                                <button type="button" (click)="showEditModal(item.itemId)"
                                    class="btn btn-outline-warning m-1">Edit</button>
                                <button type="button" (click)="showDeleteModal(item.itemId)"
                                    class="btn btn-outline-danger">Delete</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-3">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link" [routerLink]="['/item-list']" href="#" (click)="changePage(currentPage - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let pageNumber of pageNumbers" [class.active]="currentPage === pageNumber">
                  <a class="page-link" [routerLink]="['/item-list']" href="#" (click)="changePage(pageNumber)">{{ pageNumber }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage === this.totalPages">
                  <a class="page-link" [routerLink]="['/item-list']" href="#" (click)="changePage(currentPage + 1)">Next</a>
                </li>
              </ul>
            </nav>  
          </div>

    </form>
    <!--end:: Items Table-->

</div>
<!--end:: Main Window-->

<!--begin:: Delete ModalWindow-->
<div *ngIf="modalDeleteVisible" class="modal" tabindex="-1" style="display: block;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Item</h5>
                <button type="button" (click)="hideDeleteModal()" class="btn-close" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete the item?</p>
            </div>
            <div class="modal-footer">
                <button  (click)="saveDeleteChanges()" class="btn btn-primary">Delete</button>
                <button type="button" (click)="hideDeleteModal()" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--end:: Delete ModalWindow-->

<!--begin:: Edit ModalWindow-->
<div *ngIf="modalEditVisible" class="modal" tabindex="-1" style="display: block;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Item</h5>
                <button type="button" (click)="hideEditModal()" class="btn-close" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col col-lg-6">
                        <form>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault01">Item name</label>
                                    <input type="text" class="form-control" id="validationDefault01" [(ngModel)]="itemName" name="itemName"
                                        placeholder="Item name" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault02">Item type</label>
                                    <input type="number" class="form-control" id="validationDefault02" [(ngModel)]="itemType" name="itemType"
                                        placeholder="Item type" required>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault03">Item date</label>
                                    <input type="date" class="form-control" id="validationDefault03" [(ngModel)]="itemDate" name="itemDate"
                                        placeholder="Item date" required>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footerd-grid d-grid gap-2 d-md-flex justify-content-md-center">
                <button type="button" (click)="saveEditChanges()" class="btn btn-primary me-md-2">Edit</button>
                <button type="button" (click)="hideEditModal()" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--begin:: Edit ModalWindow-->

<!--begin:: Add ModalWindow-->
<div *ngIf="modalAddVisible" class="modal" tabindex="-1" style="display: block;" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item</h5>
                <button type="button" (click)="hideAddModal()" class="btn-close" data-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col col-lg-6">
                        <form>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault01">Item name</label>
                                    <input type="text" class="form-control" id="validationDefault01"
                                        placeholder="Item name" [(ngModel)]="itemName" name="itemName" required>
                                    <!-- Add the 'name' attribute -->
                                </div>
                                <div class=" col-md-12 mb-3">
                                    <label for="validationDefault02">Item type</label>
                                    <input type="number" class="form-control" id="validationDefault02"
                                        placeholder="Item type" [(ngModel)]="itemType" name="itemType" required>
                                    <!-- Add the 'name' attribute -->
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationDefault03">Item date</label>
                                    <input type="date" class="form-control" id="validationDefault03"
                                        placeholder="Item date" [(ngModel)]="itemDate" name="itemDate" required>
                                    <!-- Add the 'name' attribute -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-center">
                <button (click)="saveAddChanges()" class="btn btn-primary">Add Item</button>
                <button type="button" (click)="hideAddModal()" class="btn btn-secondary"
                    data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--begin:: Add ModalWindow-->

